.cartModal{
    background-color: rgba(15, 15, 15, 0.7);
    z-index: 100;
}
.cartContainer{
    width: 500px;
    top: 0;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eeeeee;
}
.cartContainer .sideCartTitle h3{
    padding: 20px;
    padding-bottom: 10px;
    font-size: 1.17em;
    margin: 0;
    position: relative;
}
.sideContainer i{
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 30px;
}
.cartContainer>div{
    height: auto;
    width: 100%;
}
.cartContainer .sideCartDivider{
    height: 15px;
    border-top: 2px solid rgba(0,0,0,0.08);
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.07))
}
.sideCartInnerList{
    text-align: center;
    padding: 40px 20px;
    padding-top: 30px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #dedede;
}
.sideCartInnerList>p{
    margin-bottom: 16px
}
.cartButtons{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.buttonGreen{
    background-color: #516559;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .14em;
    padding: 12px 15px;
    text-transform: uppercase;
    width: 49%;
    margin-bottom: 16px
}
.buttonGreen a{
    color: #eeeee9;
}
.cartContainer .sideCartBottom{
    justify-content: flex-start;
    margin-top: 0.5rem;
    padding: 20px;
    padding-top: 0;
}
.sideCartBottom h5{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0;
}
.sideCartSuggestionsContainer{
    display: flex;
    justify-content: space-between;
}
.sideCartCardContainer{
    width: 48%;
}
.sideCartCardContainer>strong{
    display: flex;
    width: 100%;
    padding: 10px 15px;
    border: 1.75px solid #0A2B2B;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    justify-content: center;
}
.sideCartCard{
    display: flex;
}
.sideCartCard img{
    height: 120px;
    margin-right: 10px
}
.sideCartCard p{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 100;
}