
.shippingInfo{
    display: flex;
    border: 1px solid rgb(217, 217, 217);
    padding: 10px 0;
}
.shippingInfo img{
    margin: 0 10px;
    width: 120px;
}

.shippingInfo>div{
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.shippingInfo h4{
    margin-bottom: 5px;
}
.shippingInfo p{
    padding: 3px 0;
    color: rgb(108, 108, 108);
}


.shippingAddressWrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.inputWrapper{
    position: relative;
    width: 100%;
    padding: 0.42em;
}
.inputWrapper input{
    padding-top: 1.6em;
    padding-bottom: 0.35em;
    padding-left: 0.78em;
    width: 100%;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
}
.inputWrapper input[type="text"]:focus{
    outline-color: black;
}
.inputHalf{
    width: 50%;
}
.inputThird{
    width: 33.333333%;
}
.inputWrapper p{
    position: absolute;
    top: 0;
    left: 0.72em;;
    margin: 12px 0;
    margin-left: 6px;
    font-size: 0.8em;
    color: #737373;
}

.shippingPrice{
    width: 100%;
    align-self: center;
    border: 1px solid black;
    text-align: center;
    padding: 14px 0;
}

.shippingBottom{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shippingBottom button{
    border: 1px transparent solid;
    background-color: #424242;
    padding: 1.4em 1.7em;
    color: white;
    border-radius: 5px;
}
